* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #FFC0CB 40%, #00FFFF 80%);
}


.App {
  padding: 5rem;
}

.box-container {
  padding-bottom: 100%;
}

.box {
  width: 25rem;
  height: 25rem;
  background-color: cyan;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}